@import url(http://weloveiconfonts.com/api/?family=brandico);
.navbar-invisible{
  visibility: hidden;
}
.navbar-background{
  background: rgba(0,0,0,0.6s);
  width: 100%;
  position: fixed;
  top: 0px;
  height: 90px;
  display: flex;
  justify-content: center;
  transition: background .3s linear;
}
.navbar-content{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  color: black;
  .logo{
    width: 100px;
    height: 85px;
  }
  .logo:hover{
    border: 1px solid rgb(231,126,35);
  }
  .menu-tabs{
    color: white;
    transition: color .2s ease-in-out;
  }
  .menu-tabs:hover{
    color: rgb(231,126,35);
    transition: color .2s ease-in-out;
  }
  .social-media{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    a{
      margin: 5px;
      font-size: 12px;
      color: white;
      transition: color .3s ease-out;
    }
    a:hover{
      color: rgb(231,126,35);
      transition: color .3s ease-out;
    }
  }
}

.header-image{
  width: 100%;
  max-height: 500px;
  display: flex;
  flex-wrap: wrap;
}

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

.container{
  display: flex;
  justify-content: center;

  .box {
    height: 310px;
    width: 310px;
    background: rgb(190,195,199);
    border: 1px solid black;
    margin: 10px;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;

    .news {
      color: black;
      border-bottom: 1px solid black;
    }

    .p {
      color: black;
    }

    .Specials {
      color: black;
      border-bottom: 1px solid black;
    }
    .p1 {
      color: black;
    }
    .location {
      color: black;
      border-bottom: 1px solid black;
    }

    .map {
      width: 100%;
      height: 150px;
    }
    .phone {
      color: black;
      text-align: center;
    }
    .address {
      color: black;
      text-align: center;
    }
  }
}
.black_background{
  background-color: black;
  transition: background-color .3s linear;
}
.containerOne{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
    .dropdown-tabs{
      width: 60%;
      ul{
        padding-left: 0px;
        list-style: none;
        border-bottom: 2px solid rgb(231,126,35);
        .menu-title{
          display: inline-block;
          padding: 10px 20px 10px 20px;
          font-size: 20px;
          transition: background .2s ease-in-out;
        }
        .menu-title:hover{
          background: rgb(231,126,35);
          color: white;
          transition: background .2s ease-in-out;
        }
      }
    }
    .dropdown-content{
      .reservations-container{
        border-bottom: 2px solid rgb(231,126,35);
        .form{
          h3{
          }
          input{
            width: 500px;
            height: 30px;
          }
          textarea{
            width: 500px;
            height: 100px;
          }
          select{
            width: 150px;
            border: 1px solid rgb(231,126,35);
          }
          button{
            margin: 20px 0px 20px 0px;
            padding: 10px 10px 10px 10px;
            color: white;
            border: none;
            border-radius: 5px;
            background: rgb(231,126,35);
          }
        }
      }
      .story-container{
        border-bottom: 2px solid rgb(231,126,35);
        p{
          line-height: 25px;
          img{
            width: 100%;
            height: 400px;
            margin: 10px 0px 10px 0px;
          }
        }
      }
    }
    .food-photos{
      width: 250px;
      display: flex;
      flex-wrap: wrap;
      margin-right: none;
      // border-left: 2px solid rgb(231,126,35);
      h2{
      }
      .image-container{
        .food{
          border-radius: 10px;
          height: 250px;
          width: 250px;
          margin-top: 10px;
          border: 1px solid rgb(231,126,35);
        }
      }
    }
}
.scrollTopButton{
  height: 50px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  visibility: hidden;
}
.show{
  visibility: visible;
}
