.box {
  height: 310px;
  width: 310px;
  background-color: lightgray;
  border: 1px solid black;
}

.news {
  font-size: 20px;
  color: black;
  margin-top: -290px;
  margin-left: 10px;
  border-bottom: 1px solid black;
  width: 275px;
}

.p {
  width: 275px;
  margin-left: 10px;
}

.box1 {
  margin-top: -132px;
  margin-left: 350px;
  height: 310px;
  width: 310px;
  background-color: lightgray;
  border: 1px solid black;

}

.Specials {
  font-size: 20px;
  color: black;
  margin-top: -290px;
  margin-left: 360px;
  border-bottom: 1px solid black;
  width: 275px;
}

.p1 {
  width: 350px;
  margin-left: 360px;
}

.box2 {
  margin-top: -96px;
  margin-left: 700px;
  height: 310px;
  width: 310px;
  background-color: lightgray;
  border: 1px solid black;

}

.location {
  font-size: 20px;
  color: black;
  margin-top: -290px;
  margin-left: 715px;
  border-bottom: 1px solid black;
  width: 275px;
}

.img {
  margin-top: 30px;
  margin-left: 750px;
  border: 1px solid black;
}

.phone {
  margin-top: 30px;
  margin-left: 800px;
}

.address {
  margin-top: 30px;
  margin-left: 790px;
}
