.navbar-background{
  filter: blur(0px);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  width: 100%;
  position: fixed;
  top: 0px;
  height: 90px;
  background: white;
  opacity: .5;
  display: flex;
  justify-content: center;
}
.navbar-content{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  color: black;
}
img{
  width: 100%;
}
